<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oy.travel">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--地图所需要的权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_laucher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="QYayUoGmBhkAZLbQsoLTH1041Kg6oEpX" />
        <!--欢迎页面-->
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--音乐播放页面-->
        <activity android:name=".MediaPlayActivity"/>
        <!--主页面-->
        <activity android:name=".MainActivity"/>
        <!--城市攻略详情页面-->
        <activity android:name=".CityDetailActivity"/>
        <!--游记页面-->
        <activity android:name=".PlansActivity"/>
        <!--图片页面-->
        <activity android:name=".PhotoActivity"/>
        <!--地图定位页面-->
        <activity android:name=".MapActivity"/>
    </application>

</manifest>
